/*
*  html5resetcss
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
li{list-style: none;}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{text-decoration: none; margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* 헤더 고정 영역 스타일 */

/* 전체 화면 스타일 - 중간 고장, 열 방향 정렬*/
#kakao-shop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*  */
#kakao-shop-wrapper #kakao-header {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #E5E5E5;
  width: 100%;
}

#kakao-shop-wrapper #nav {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

#kakao-shop-wrapper #nav .sector{
  line-height: 48px;
  color: #E5E5E5;
}

#kakao-shop-wrapper #nav .right{
  display: flex;
  padding: 0 0 0 24px;
}

#kakao-shop-wrapper #nav .left img{
  width: 66px;
}

#kakao-shop-wrapper #nav .icons img{
  width: 28px;
  padding: 10px;
}

#kakao-shop-wrapper #nav .login{
  padding: 0 0 0 28px;
}

#kakao-shop-wrapper #nav .login a{
  line-height: 48px;
  font-size: 14px;
  color: #000;
}

/* 헤더 로고 */

#kakao-header {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #E5E5E5;
  width: 100%;
  margin: 0 0 30px 0;
}

#kakao-header .logo-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px;
}

#kakao-header .logo-wrapper img{
  width: 180px;
  padding: 30px 0 20px 0;
}

#kakao-header .logo-wrapper p{
  font-size: 12px;
  color: #767676;
  text-align: center;
}

#kakao-header .category-wrapper{
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 12px 0;
}


#kakao-header .category-wrapper .category {
  display: flex;
  align-items: center;
}

#kakao-header .category-wrapper .category ul {
  display: flex;
  flex-direction: row;
}


#kakao-header .category-wrapper .category ul li{
  list-style: none;
  font-size: 15px;
  padding-right: 35px;
}


#kakao-header .category-wrapper .category ul li:first-child{
  font-weight: 900;
}

#kakao-header .search-product {
  display: flex;
  align-items: center;
  width: 218px;
  height: 34px;
  border: solid 1px #E5E5E5;
  border-radius: 2px;
}

#kakao-header .search-product input {
  width: 100%;
  border: none;
  padding: 0 12px;
}

#kakao-header .search-product img{
  padding: 0 12px;
  width: 22px
}

#banner {
  width: 1280px;
  margin: 0 auto;
}


#content {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 0 auto 30px auto;
}

#content .new-arrivals-wrapper > p{
  font-size: 20px;
  color: #222;
  line-height: 26px;
  font-weight: 900;
  padding: 28px 0 18px 0;
}


#content .new-product-wrapper{
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-y: hidden;
  overflow-x: scroll;
}

#content .new-product-wrapper .product{
  width: 150px;
  box-sizing: border-box;
  flex-shrink: 0;
}

#content .new-arrivals-wrapper .product .product-title{
  display: -webkit-box;
  overflow: hidden;
  font-size: 15px;
  line-height: 20px;
  color: #4c4c4c;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 40px;
  text-overflow: ellipsis;
}

#content .new-product-wrapper .product > img{
  width: 100%;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, .03);
  /* background-color: rgba(0, 0, 0, .02); */
  border-radius: 2px;
  padding: 0 0 8px 0;
}

.product-title-wrapper .product-title {
  font-size: 15px;
  color: #4c4c4c;
  margin: 0 0 8px 0;
}

.product-title-wrapper .price {
  display: block;
  font-size: 17px;
  color: #111;
  margin: 0 0 6px 0;
}

.product-title-wrapper .review-wrapper {
  display:block;
  margin: 0 0 6px 0;
}

.product-title-wrapper .review-wrapper img{
  width: 12px;
  height: 12px;
}
.product-title-wrapper .review{
  font-size: 13px;
  color: #999;
}

.product-title-wrapper .sold{
  font-size: 11px;
  color: #6a727e;
  background-color: #edf0f4;
  padding: 4px;
  border-radius: 3px;
}

.product-title-wrapper .free-delivery{
  font-size: 11px;
  color: #6a727e;
  background-color: #edf0f4;
  padding: 4px;
  border-radius: 3px;
}

.product-title-wrapper.review-wrapper{
  margin: 0 0 10px 0;
}

.product-title-wrapper .product.review-wrapper img{
  width: 12px;
}

/* 섹션 */

.section {
  border-bottom: 8px solid #f7f7f7;
  margin : 40px 0;
}

/* 서브 메뉴 */

#content.sub-menu-wrapper {
  height: 232px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 14px 12px;
}


#content .sub-menu-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  /* width: 20%;
  margin-bottom: 18px;
  padding: 0 6px;
  box-sizing: border-box; */
}

#content .sub-menu-wrapper ul li {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
}

#content .sub-menu-wrapper .li p {
  display: flex;
  font-size: 11px;
  color: #666;
  padding: 6px 0 0 0;
  margin-bottom: 18px;
}

#content .sub-menu-wrapper img {
  width: 54px;
  border-radius: 12px;
}

.input:focus{
  outline: none;
}